/* ul,
li {
  text-decoration: none;
  list-style: none;
} */

/* .calendar {
  display: grid;
  justify-content: center;
} */
/* .calendar-container {
  border: 1px solid #000; */
/* display: grid;
  grid-template-columns: repeat(7, auto); */
/* } */
/* .calendar-month { */
/* display: grid; */
/* justify-content: center; */
/* } */
/* .calendar-day-container { */
/* } */

/* .calendar-day-list { */
/* display: grid; */
/* grid-template-columns: repeat(7, minmax(60px, 1fr)); */
/* background-color: #404040; */

/* grid-gap: 50px; */
/* margin: 20px; */
/* padding: 0; */
/* } */

/* .calendar-day-item { */
/* gap: 20px; */
/* } */
/* .calendar-day { */
/* display: grid; */
/* } */

.day {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  /* background-color: #404040; */
}

div {
  text-align: center;
}
